{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'chatting_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'chatting_app/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'chatting_app/css/chatting_app.css' %}">
    <title>Document</title>
</head>
<body class="">
  <div class="container  ">
    <!-- <nav class="navbar navbar-light bg-primary navbar-expand-md text-white">
        <div class="container">
            <form class="form-inline ml-auto">
                <input class="form-control" type="text" placeholder="Search User ...">
                <button class="btn btn-success">Search</button>
              </form>
          <h2 style = "margin-left:15%" class="text-center" >Nothi Messanger</h2>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
               


            </div>
          </div>
    </nav>
     -->
     <div class="row mt-3">
         <div class="col-md-12 bg-success ">
            <h1 class="text-center text-white">Nothi Messanger</h1>
         </div>
     </div>

<br><br>
<div class="row ">
    <div class="col-md-3 vr">
        <div class="row bg-primary">    
        <div class="col-md-5 ">
            <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
        </div>
        <div class="col-md-6 mt-3 ml-0 mr-0">
            <p style="font-size: 18px;" class="bl-auto text-warning"> User 1</p>
        </div>

        </div>
        <div class="row mt-3">    
            <div class="col-md-5 ">
                <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
            </div>
            <div class="col-md-6 mt-3 ml-0 mr-0">
                <p style="font-size: 18px;" class="bl-auto "> User 2</p>
            </div>
    
            </div>
            <div class="row mt-3">    
                <div class="col-md-5 ">
                    <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
                </div>
                <div class="col-md-6 mt-3 ml-0 mr-0">
                    <p style="font-size: 18px;" class="bl-auto "> User 3</p>
                </div>
        
            </div>
            <div class="row mt-3">    
                <div class="col-md-5 ">
                    <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
                </div>
                <div class="col-md-6 mt-3 ml-0 mr-0">
                    <p style="font-size: 18px;" class="bl-auto "> User 3</p>
                </div>
        
                </div>
                <div class="row mt-3">    
                    <div class="col-md-5 ">
                        <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
                    </div>
                    <div class="col-md-6 mt-3 ml-0 mr-0">
                        <p style="font-size: 18px;" class="bl-auto "> User 3</p>
                    </div>
            
                    </div>
                    <div class="row mt-3">    
                        <div class="col-md-5 ">
                            <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
                        </div>
                        <div class="col-md-6 mt-3 ml-0 mr-0">
                            <p style="font-size: 18px;" class="bl-auto "> User 3</p>
                        </div>
                
                        </div>
                        <div class="row mt-3">    
                            <div class="col-md-5 ">
                                <img height="100px" width="50px" src="media/user.jpeg" class="rounded-circle">
                            </div>
                            <div class="col-md-6 mt-3 ml-0 mr-0">
                                <p style="font-size: 18px;" class="bl-auto "> User 3</p>
                            </div>
                    
                        </div>
    </div>
    
    <div class="col-md-6 ">
        <section id="header">
        <div class="bg-dark p-1">
            <p class="mt-1 text-white " >User 1</p>
        </div>
        </section>





    </div>
    <div class="col-md-3 vl text-center bg-info">
        <div class="row mt-3">    
            <div class="col-md-12  text-center">
                <img height="100px" width="100px" src="media/user.jpeg" class="rounded-circle">
            </div>
        </div>
            <div class="row ">  
                <div class="col-md-12 mt-4 ">
                <h2 style="font-size: 25px; " class="bl-auto text-bold text-muted "><b class="text-center text-white">User 1</b> </h2>
                </div>
            </div>
            <div class="row text-center ">  
              <div class="col-md-12">
                  <p class="text-white">Jr Software Engineer</p>
                <p class="text-white">Tappware Solution Limited</p>
            </div>
                
            </div>
          
            
          
    
        </div>
    
    
</div>
  

</div>

    <script src="{% static 'chatting_app/js/jquery-slim.min.js'  %}"></script>
    <script src="{% static 'chatting_app/js/popper.min.js' %}"></script>
    <script src="{% static 'chatting_app/js/bootstrap.min.js' %}"></script>
    







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
</body>
</html>